*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Mulish', sans-serif;
}
/* Style for header section */
#header{
    margin:50px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
/* header logo part */
.header-logo{
    display:flex;
    align-items:center;
}
.header-logo img{
    width:48px;
    height:56px;
    margin-right:10px;
}
.header-logo h2{
    color:#131318;
    font-size:36px;
    font-weight:800;
}
.header-logo span{
    color:#FF5400;
}
/* style for header nav */
.header-nav{
   
}
.header-nav ul{
    list-style-type:none;
}
.header-nav ul li{
    display:block;
    float:left;
}
.header-nav ul li a{
    font-size:18px;
    color:#424247;
    text-decoration:none;
    padding:10px 15px;
    font-weight:400;
}
.header-nav ul li a:focus{
    color:#FF5400;
    font-weight:700;
}
label #btn, label #cancel{
    color:red;
    font-size:20px;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
/* design done for header nav part */

/* Style for main section */

/* style banner section */
#banner{
    margin:20px 100px;
    background-image:url('../images/Group 13 (1) (1).png');
    background-size:cover;
    background-repeat:no-repeat;
    display:block;
}
.banner-wraper{
    padding:100px 0px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    overflow:hidden;
}
.banner-inner-text, .banner-btn{
    text-align:center;
    margin:0px 100px;
}
.banner-inner-text .banner-title{
    font-size:64px;
    color:#ffffff;
    font-weight:800;
    margin-bottom:20px;
}
.banner-inner-text .banner-description{
    color:#ffffff;
    font-size:16px;
    font-weight:400;
    line-height:26px;
    margin-bottom:20px;
}
.banner-btn{
    width:55%;
    height:40px;
    background:rgba(255, 255, 255, 0.30);
    display:block;
    margin:0px auto;
    text-align:center;
    padding:17px 0px;
    border-radius:8px;
}
.banner-btn button{
    background-color:#ffffff;
    padding:15px 20px;
    border:none;
    border-radius:8px;
    margin-left:15px;
    font-size:16px;
    color:rgba(19, 19, 24, 0.50);
    font-weight:700;
}
.banner-btn .fas{
    margin-left:20px;
}
.banner-btn button:first-child{
    margin-left:0px;
}
.banner-btn button:last-child{
    background:#FF5400;
    color:#ffffff;
}
.banner-btn .fa-search{
    margin-right:20px;
    margin-left:0px;
}
/* End banner style section*/

/* Start tour section style */
#tour{
    margin:50px 100px;
    display:flex;
}
.tour-text h2{
    color:#131318;
    font-size:40px;
    font-weight:800;
    margin-bottom:20px;
}
.tour-text{
    margin-right:30px;
}
.tour-text p{
    color:rgba(19, 19, 24, 0.70);
    font-size:16px;
    font-weight:400;
    line-height:26px;
    margin-bottom:20px;
}
/* style for tour text span */
.tour-text ul span{
    text-transform:uppercase;
    font-size:20px;
    color:#FF5400;
    border-bottom: 2px solid #131318;
}
/* style for tour text unordered list */
.tour-text ul li{
    margin-bottom:20px;
}
.tour-text ul li a{
    text-decoration:none;
    color:rgba(19, 19, 24, 0.70);
    font-size:16px;
    font-weight:400;
    line-height:26px;
}
/* style for tour text button */
.tour-text .tour-btn{
    background:#FF5400;
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    padding:15px 35px;
    border:none;
    border-radius:8px;
}
.tour-img{
    width:100%;
}





/* design for responsive devices */
@media screen and (max-width:576px){
    #header{
        margin:10px 20px;
    }
    .header-logo img{
        width:40px;
        height:50px;
    }
    .header-logo h2{
        font-size:25px;
    }
    label #btn{
        display:block;
    }
    .main-menu{
        position:fixed;
        width:100%;
        height:100vh;
        background-color:#34495e;
        top:80px;
        left:-100%;
        text-align:center;
        transition: all 0.5s ease;
    }
    .header-nav ul li{
        display:block;
        float:none;
        margin:20px 0px;
    }
    .header-nav ul li a{
        display:block;
       color:#fff;
    }
    #check:checked ~ ul{
        left:0;
        width:100%;
    }
    #check:checked ~ label #btn{
        display:none;
    }
    #check:checked ~ label #cancel{
        display:block;
    }
    /* menu responsive style finished */

    /* Banner section responsive for small devices */
    #banner{
        margin:10px 20px;
    }
    .banner-wraper{
        padding:30px 0px;
    }
    .banner-inner-text{
        margin:0px 20px;
        font-size:14px;
        line-height:21px;
    }
    .banner-inner-text .banner-title{
        font-size:25px;   
    }
    .banner-btn{
        margin:0px;
    }
    .banner-btn{
        width:90%;
        height:auto;
        margin:0px auto;
    }
    .banner-btn button{
        display:block;
        width:90%;
        margin:20px auto;
    }
    .banner-btn button:first-child{
        margin:auto;
    }
    /* Banner section responsive done */

    /* responsive style for tour section */
    #tour{
        margin:10px 20px;
        flex-direction:column;
    }
    .tour-text h2{
        font-size:20px;
        font-weight:800;
    }
    .tour-text p{
        font-size:14px;
        line-height:24px;
    }
    .tour-text ul span{
        font-size:16px;
    }
    .tour-img{
        margin-top:20px;
    }
    .tour-img img{
        width:100%;
    }

}
